<h1><%= @restaurant.name %></h1>
  <h4><%= @restaurant.category.capitalize %></h4>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  <p><%= link_to 'Back to restaurants', restaurants_path %></p>
